@font-face { font-family: Xilosa; src: url("xilosa.ttf"); }

body{
    background-image: url("fundo.jpg");
    background-position: center;
    background-attachment: fixed;
    /*background-repeat: no-repeat*/
    background-size: cover;
    margin: unset;
    /*background-color: #fdaf02;*/
}

#nome_restaurante {
    color: white;
    font-family: Xilosa;
    text-align: center;
    font-size: 40px;
}

#menu {
  display: flex;
  padding-left: 35%;
  padding-right: 35%;
  width: 30%;
  color: white;
  justify-content: space-around;
  list-style: none;
  font-family: 'Cormorant Garamond', serif;
  color: #ffffff;
}

a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;
}

a:active {
 color: white;
 text-decoration: none;
}

h1, h2 {
  text-align: center;
}

#cardapio {
  margin-bottom: 0;
  padding-bottom: 0;
}

.sessao {
  background-color: white;
  font-family: 'Cormorant Garamond', serif;
  color: #717171;
  max-width: 920px;
  position: relative;
  margin: auto;
  padding: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
}

#decoracao {
  width: 100%;
}

footer {
  background-color: white;
}

#nome_final {
  text-align: center;
  font-family: Xilosa;
  padding-top: 10px;
  color: #717171;
  padding-bottom: 10px;
}

#dados_formulario {
  background-color: white;
  display: flex;
  font-family: "Cormorant Garamond", serif;
  color: #717171;
}

.rodape {
  width: 100%;
  padding-left: 35px;
  padding-right: 35px;
}

input, textarea {
  width: 100%;
  border: #c7c7c7 0.5px solid;
}

#button {
  font-family: "Cormorant Garamond", serif;
  color: #717171;
}





.slideshow-container {
  max-width: 920px;
  position: relative;
  margin: auto;
  background-color: white;
  padding-top: 31px;
  padding-bottom: 40px;
  padding: 40px;
  font-family: 'Cormorant Garamond', serif;
}
.imagem {
  position: relative;
  width: 100%;
}

.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 40px;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: #c7c7c7;
}


.numbertext {
  color: #000000;
  font-size: 12px;
  padding: 15px 12px;
  position: absolute;
  top: 0;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}